@media only screen and (max-width: 1360px) {

/*-- Section 12 - Main Page --*/

.two_cols_3 h2 {
    padding-bottom: 25px;
    font-size: 28px;
    line-height: 33px;
}

.contacts_thumb p {
    font-size: 16px;
    line-height: 19px;
}

.contacts_thumb p a {
    font-size: 16px;
    line-height: 19px;
}

/*-- /Section 12 - Main Page --*/

}

@media only screen and (max-width: 1240px) {

h1 {
    font-size: 37px;
    line-height: 49px;
}

/*-- Header --*/

.header_two_cols > div:nth-child(1) {
    width: 16%;
}

.header_two_cols > div:nth-child(2) {
    width: 84%;
}

/*-- /Header --*/

/*-- Section 1 - Main Page --*/

.blue_promo {
    min-height: 600px;
    padding: 36px 20px 10px 20px;
}

.promo_slider_wrapp {
    height: 600px;
}

.promo_slide {
    height: 600px;
}

.blue_link {
    font-size: 17px;
    line-height: 21px;
}

.h1_wrapp h1 span {
    font-size: 55px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 12 - Main Page --*/

.content_templ_2 > div:nth-child(1) {
    width: 40%;
}

.content_templ_2 > div:nth-child(2) {
    width: 60%;
}

/*-- /Section 12 - Main Page --*/

/*-- Footer --*/

.footer_two_cols > div:nth-child(1) {
    width: 38%;
}

.footer_two_cols > div:nth-child(2) {
    width: 62%;
}

.form_box_2 h3 {
    font-size: 20px;
    line-height: 25px;
}

.footer_two_cols_2 > div:nth-child(1) {
    width: 170px;
}

.footer_two_cols_2 > div:nth-child(2) {
    width: calc(100% - 170px);
}

.contacts_thumb_2 > div:nth-child(1) {
    width: 170px;
}

.contacts_thumb_2 > div:nth-child(2) {
    width: calc(100% - 170px);
}

.contacts_thumb_2 h3 {
    font-size: 20px;
    line-height: 24px;
}

.contacts_thumb_2 p {
    font-size: 17px;
    line-height: 25px;
}

.contacts_thumb_2 ul li,
.contacts_thumb_2 ul li a {
    font-size: 17px;
    line-height: 25px;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 1124px) {

.novisible_1124 {
    display: none;
}

.visible_1124 {
    display: block;
}

/*-- Header --*/

.header_two_cols {
    min-height: 49px;
    border-radius: 12px;
    padding: 2px 25px 5px 25px;
}

.header_site > .left {
    width: calc(100% - 227px);
}

.header_site > .right {
    width: 227px;
}

.white_pill_resp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 12px;
}

.two_pills .blue_pill {
    min-height: 49px;
}

.two_pills > div:nth-child(1) {
    width: 53px;
}

.two_pills > div {
    width: 176px;
}

/*-- /Header --*/

/*-- Section 2 - Main Page --*/

.two_cols > div:nth-child(1) {
    width: calc(100% - 490px);
}

.two_cols > div:nth-child(2) {
    width: 490px;
}

.info_box {
    width: 480px;
    height: 480px;
}

.bg_block {
    width: 480px;
    height: 480px;
}

.bg_block h3 {
    padding: 49px 20px 20px 20px;
    font-size: 30px;
    line-height: 36px;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.h2_wrapp_center h2 {
    font-size: 32px;
    line-height: 40px;
}

span.border_shape {
    font-size: 40px;
    line-height: 100%;
}

span.circle_shape {
    font-size: 40px;
    line-height: 100%;
}

span.circle_shape:before {
    width: 140px;
    height: 52px;
}

.h2_wrapp_center p {
    font-size: 18px;
    line-height: 27px;
}

.shape_1 {
    width: 266px;
    height: 61px;
    top: 52%;
}

.shape_2 {
    width: 136px;
    height: 71px;
}

.shape_3 {
    width: 190px;
    height: 64px;
    top: 54%;
}

.thumb_2 {
    min-height: 290px;
}

.number_wrapp p {
    font-size: 82px;
    line-height: 90px;
}

.thumb_2_footer p {
    font-size: 22px;
    line-height: 26px;
}

.img_box_2 {
    min-height: 588px;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 4 - Main Page --*/

.h2_wrapp_center.big h2 {
    font-size: 48px;
    line-height: 57px;
}

.thumb_3_descript h3 {
    font-size: 24px;
    line-height: 30px;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 7 - Main Page --*/

.yellow_shape_1 {
    font-size: 44px;
}

.yellow_shape_2 {
    width: 164px;
    height: 54px;
    font-size: 45px;
}

/*-- /Section 7 - Main Page --*/

/*-- Section 8 - Main Page --*/

.yellow_shape_3 {
    margin: 0 -7px -12px 0;
    width: 146px;
    height: 60px;
    font-size: 44px;
}

/*-- /Section 8 - Main Page --*/

/*-- Section 9 - Main Page --*/

.yellow_shape_4 {
    margin-top: -18px;
    font-size: 71px;
}

.yellow_shape_4:after {
    width: 205px;
    height: 30px;
    bottom: -14px;
}

/*-- /Section 9 - Main Page --*/

/*-- Section 11 - Main Page --*/

.yellow_shape_5 {
    font-size: 68px;
    line-height: 100%;
}

.yellow_shape_5:after {
    width: 415px;
}

/*-- /Section 11 - Main Page --*/

}

@media only screen and (max-width: 1024px) {

/*-- Header --*/

.resp_nav {
    margin: 0 -10px;
}

.resp_nav li {
    padding: 0 10px;
}

.resp_nav li a {
    font-size: 15px;
    line-height: 18px;
}

/*-- /Header --*/

/*-- Section 6 - Main Page --*/

.h2_wrapp.big_2 h2 {
    font-size: 48px;
    line-height: 120%;
}

.slider_2_wrapp {
    background: #FFF;
    border-radius: 48px;
    margin: 68px 0 50px 0;
    padding: 40px 8px 24px 8px;
}

.slider_2_slide_descript {
    min-height: 450px;
    padding: 19px 25px 90px 25px;
}

.slider_2_slide_descript h3 {
    padding: 8px 0 5px 0;
    font-size: 24px;
    line-height: 120%;
}

.slider_2_slide_descript p {
    padding: 5px 0;
    font-size: 16px;
    line-height: 22px;
}

.ba_slider_wrapp {
    height: 450px;
}

.beforeAfter_wrapp {
    height: 450px;
}

.beforeAfter {
    height: 450px;
}

/*-- /Section 6 - Main Page --*/

/*-- Section 12 - Main Page --*/

.content_templ_2 > div:nth-child(1) {
    width: 100%;
    padding: 0 0 4px 0;
}

.content_templ_2 > div:nth-child(2) {
    width: 100%;
    padding: 4px 0 0 0;
}

.slide_4 {
    height: 416px;
}

/*-- /Section 12 - Main Page --*/

/*-- Section 1 - Prices --*/

.price_white_box_title {
    padding: 10px 15px 131px 15px;
}

.price_white_box_title .breadcrumbs_2 {
    padding: 5px 0 5px 0;
}

.prices_shape {
    max-height: 275px;
}

/*-- /Section 1 - Prices --*/

/*-- Section 2 - Prices --*/

.prices_templ > .left {
    width: 37%;
}

.prices_templ > .right {
    width: 63%;
}

.prices_table .table_row > div:nth-child(1) {
    width: calc(100% - 90px);
}

.prices_table .table_row > div:nth-child(2) {
    width: 90px;
}

.prices_nav_box {
    padding: 18px 10px;
}

.prices_nav li a {
    padding: 10px;
    font-size: 15px;
    line-height: 22px;
}

.prices_tables_title h3 {
    font-size: 24px;
    line-height: 130%;
}

.prices_table_box h3 {
    padding-bottom: 3px;
    font-size: 20px;
    line-height: 130%;
}

.prices_templ_header > .left {
    width: 37%;
}

.prices_templ_header > .right {
    width: 63%;
}

.cell_2 {
    width: calc(100% - 140px);
}

.cell_3 {
    width: 140px;
}

/*-- /Section 2 - Prices --*/

/*-- Section 1 - Service Article --*/

.service_icon_wrapp {
    display: none;
}

.service_shape_1 {
    max-height: 196px;
}

.service_shape_2 {
    max-height: 220px;
}

/*-- /Section 1 - Service Article --*/

/*-- Section 2 - Service Article --*/

.service_templ_header > div:nth-child(1) {
    width: 340px;
}

.service_templ_header > div:nth-child(2) {
    width: calc(100% - 340px);
}

.service_templ_content > .left {
    width: 340px;
}

.service_templ_content > .right {
    width: calc(100% - 340px);
}

.service_article_item h3 {
    padding: 5px 0 10px 0;
    font-size: 20px;
    line-height: 120%;
}

.service_article_item {
    padding: 32px 0 6px 0;
}

.service_article_item p {
    font-size: 14px;
    line-height: 130%;
}

.service_article_item ol li {
    font-size: 14px;
    line-height: 130%;
}

.service_article_item ol li:before {
    width: 4px;
    height: 4px;
    top: 7px;
}

.service_prices h3 {
    padding: 27px 0 8px 25px;
    font-size: 24px;
    line-height: 130%;
}

.service_jobs h3 {
    padding: 27px 0 8px 25px;
    font-size: 24px;
    line-height: 130%;
}

.service_doctors_slider > h3 {
    padding: 27px 0 8px 25px;
    font-size: 24px;
    line-height: 130%;
}

/*-- /Section 2 - Service Article --*/

/*-- Footer --*/

.footer_two_cols > div:nth-child(1) {
    width: 100%;
    padding: 10px 0;
}

.footer_two_cols > div:nth-child(2) {
    width: 100%;
    padding: 10px 0;
}

.form_box_2 {
    min-height: 158px;
    border-radius: 16px;
    margin-top: 24px;
}

.form_box_2 h3 {
    font-size: 18px;
    line-height: 23px;
}

.form_box_2 h3 br {
    display: none;
}

.form_2 .blue_pill {
    border-radius: 12px;
}

.input_wrapp_3 input {
    border-radius: 12px;
}

.footer_two_cols h2 {
    padding-top: 10px;
    font-size: 24px;
    line-height: 31px;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 900px) {

.novisible_900 {
    display: none;
}

.visible_900 {
    display: block;
}

h1 {
    font-size: 29px;
    line-height: 34px;
}

.wrapper {
    padding-top: 56px;
}

/*-- Header --*/

#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
}

.header_site > .left {
    width: calc(100% - 103px);
}

.header_site > .right {
    width: 103px;
}

.header_two_cols {
    min-height: 48px;
    padding: 2px 15px 5px 15px;
}

.header_two_cols > div:nth-child(1) {
    width: 100%;
    display: flex;
    align-items: center;
}

.header_two_cols > div:nth-child(2) {
    width: 0;
    padding: 0;
}

.logo {
    width: 53px;
}

.two_pills > div {
    width: 52px;
}

.respBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #FFF;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.respBtn img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

#respNav {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 34px 20px 30px 20px;
    max-height: 100vh;
    z-index: 10;
    background: linear-gradient(0deg, #5C5C5C, #5C5C5C), rgba(153, 153, 153, 0.97);
    background-blend-mode: color-dodge, normal;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, .05);
    backdrop-filter: blur(25px);
    border-radius: 16px 16px 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 4;
}

#respNav:before {
    display: block;
    content: "";
    width: 36px;
    height: 5px;
    background: linear-gradient(0deg, rgba(61, 61, 61, 0.5), rgba(61, 61, 61, 0.5)), rgba(127, 127, 127, 0.4);
    background-blend-mode: overlay, luminosity;
    border-radius: 2.5px;
    position: absolute;
    top: 6px;
    left: calc(50% - 18px);
}

.resp_nav {
    margin: 0;
}

.resp_nav li {
    display: block;
    width: 100%;
    padding: 8px 0 8px 0;
}

.resp_nav li a {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #102348;
}

.resp_nav li > .sub_menu {
    display: none;
    padding: 10px 10px 3px 10px;
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;
}

.resp_nav li > .sub_menu li {
    padding: 0;
}

.resp_nav li i {
    display: block;
    position: absolute;
    top: 11px;
    right: 0;
    z-index: 2;
}

.resp_nav li:hover > i {
    transform: rotate(0);
}

.resp_nav li > i.active {
    transform: rotate(-180deg);
}

/*-- Resp Bg --*/

.res_bg {
    background: rgba(0, 0, 0, .4);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

/*-- /Resp Bg --*/

/*-- Resp close btn --*/

.closeNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #FFF;
    box-shadow: 0 0 6px rgba(0, 0, 0, .11);
    border-radius: 16px;
    cursor: pointer;
    border: none;
    position: fixed;
    top: -200vh;
    right: 8px;
    z-index: 4;
    -webkit-transition-property: top;
    -webkit-transition-duration: .6s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: top;
    -moz-transition-duration: .6s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: top;
    -ms-transition-duration: .6s;
    -ms-transition-timing-function: ease;

    -o-transition-property: top;
    -o-transition-duration: .6s;
    -o-transition-timing-function: ease;

    transition-property: top;
    transition-duration: .6s;
    transition-timing-function: ease;
}

.closeNav.active {
    top: 66px;
}

.closeNav svg {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/*-- /Resp close btn --*/

.resp_two_cols {
    display: flex;
    margin: 0 -10px;
    padding: 25px 0 6px 0;
}

.resp_two_cols > div {
    width: 50%;
    padding: 4px;
}

.white_resp_pill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    min-height: 46px;
    border: none;
    background: #FFF;
    border-radius: 12px;
    font-weight: 450;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #102348;
}

.white_resp_pill img {
    margin-right: 5px;
}

.blue_resp_pill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    min-height: 46px;
    background: #102348;
    border: none;
    border-radius: 12px;
    font-weight: 450;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #FFF;
}

/*-- /Header --*/

/*-- Section 1 - Main Page --*/

.sect_1_mp {
    padding-top: 60px;
}

.blue_promo {
    min-height: 480px;
    border-radius: 12px;
    padding: 10px 20px 10px 20px;
}

.h1_wrapp h1 span {
    font-size: 46px;
}

.blue_promo_two_cols > div:nth-child(1) {
    width: 90px;
    padding: 27px 10px 10px 16px;
}

.blue_promo_two_cols > div:nth-child(2) {
    width: calc(100% - 90px);
    position: relative;
    padding: 25px 0 10px 24px;
}

.promo_slider_wrapp {
    height: 480px;
    border-radius: 12px;
}

.promo_slider {
    border-radius: 12px;
}

.promo_slide {
    height: 480px;
    border-radius: 12px;
}

.promo_slide img {
    width: auto;
    height: 100%;
    min-width: auto;
    min-height: auto;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.two_cols > div:nth-child(1) {
    width: calc(100% - 370px);
}

.two_cols > div:nth-child(2) {
    width: 370px;
}

.h2_wrapp h2 {
    font-size: 24px;
    line-height: 120%;
}

.info_box {
    width: 360px;
    height: 520px;
}

.bg_block {
    width: 360px;
    height: 520px;
    border-radius: 20px;
}

.bg_block h3 {
    padding: 39px 16px 20px 16px;
    font-size: 24px;
    line-height: 120%;
}

@keyframes topposition2 {
  from {top: 0}
  to {top: -70px;}
}
@keyframes topposition3 {
  from {top: -74px;}
  to {top: -130px;}
}
@keyframes topposition4 {
  from {top: -140px;}
  to {top: -185px;}
}
@keyframes topposition5 {
  from {top: -202px;}
  to {top: -235px;}
}
@keyframes topposition6 {
  from {top: -257px;}
  to {top: -275px;}
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.h2_wrapp_center h3 {
    font-size: 12px;
    line-height: 16px;
}

.h2_wrapp_center h2 {
    padding: 5px 0;
    font-size: 24px;
    line-height: 120%;
}

.h2_wrapp_center p {
    padding: 3px 0 0 0;
    font-size: 16px;
    line-height: 120%;
}

.h2_wrapp_center p br {
    display: none;
}

span.border_shape {
    font-size: 32px;
    line-height: 100%;
    top: -3px;
}

span.circle_shape {
    font-size: 32px;
    line-height: 100%;
    top: -3px;
}

span.circle_shape:before {
    width: 118px;
    height: 47px;
}

.two_cols {
    padding: 54px 0 108px 0;
}

.img_box_2 {
    min-height: 400px;
    border-radius: 20px;
}

.img_box_2 p {
    font-size: 10px;
    line-height: 12px;
}

.thumb_2 {
    min-height: 240px;
    border-radius: 20px;
}

.shape_1 {
    width: 228px;
    height: 57px;
}

.shape_2 {
    width: 108px;
    height: 57px;
}

.shape_3 {
    width: 138px;
    height: 48px;
}

.number_wrapp p {
    font-size: 84px;
    line-height: 100%;
}

.thumb_2_footer {
    padding: 20px 0 7px 0;
}

.thumb_2_footer p {
    font-size: 24px;
    line-height: 26px;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 4 - Main Page --*/

.sect_4_mp {
    padding: 26px 0 60px 0;
}

.h2_wrapp_center.big h2 {
    font-size: 24px;
    line-height: 120%;
}

.thumb_3 {
    width: calc(50% - 4px);
}

/*-- /Section 4 - Main Page --*/

/*-- Section 5 - Main Page --*/

.contacts_form_box {
    margin: 18px 0 18px 0;
    border-radius: 20px;
    padding: 34px 20px 14px 20px;
}

.contacts_form {
    padding: 29px 0 29px 0;
}

.contacts_form_title h3 {
    padding: 2px 0 2px 0;
    font-size: 29px;
    line-height: 120%;
}

/*-- /Section 5 - Main Page --*/

/*-- Section 7 - Main Page --*/

.yellow_shape_1 {
    font-size: 35px;
    top: -7px;
}

.yellow_shape_2 {
    width: 147px;
    height: 51px;
    font-size: 38px;
    margin-top: -2px;
}

.slider_3_slide {
    width: 264px;
    padding: 2px;
}

.doctor_thumb .img_box {
    height: 312px;
    border-radius: 16px;
}

.doctor_thumb .img_box img {
    width: 100%;
    height: auto;
    min-height: 100%;
    min-width: auto;
}

.doctor_thumb_descript {
    border-radius: 16px;
    padding: 12px 16px 12px 16px;
}

.doctor_thumb_descript h3 {
    padding: 3px 0;
    font-size: 18px;
    line-height: 23px;
}

.doctor_thumb_descript h4 {
    padding: 3px 0;
    font-size: 16px;
    line-height: 21px;
}

.doctor_thumb_descript p {
    padding: 5px 0;
    font-size: 16px;
    line-height: 19px;
}

/*-- /Section 7 - Main Page --*/

/*-- Section 9 - Main Page --*/

.sect_9_mp {
    padding: 34px 0 15px 0;
}

.yellow_shape_4 {
    display: block;
    margin-top: -7px;
    font-size: 35px;
}

.yellow_shape_4:after {
    width: 116px;
    height: 38px;
    bottom: -4px;
    left: calc(50% - 56px);
    background-image: url(img/yellow_shape_4_resp.svg);
}

.faqs {
    padding: 27px 0 24px 0;
}

.faq_item {
    border: 2px solid #FFF;
    border-radius: 14px;
}

.faq_item_title {
    padding: 16px 45px 16px 18px;
}

.faq_item_title h3 {
    font-size: 18px;
    line-height: 130%;
}

.faq_item_title:after {
    width: 32px;
    height: 32px;
    background-size: 68%;
    top: calc(50% - 15px);
    right: -1px;
}

.faq_item_content {
    margin-top: 0;
    padding: 0 0 17px 17px;
}

.faq_item_content p {
    font-size: 14px;
    line-height: 20px;
}

/*-- /Section 9 - Main Page --*/

/*-- Section 10 - Main Page --*/

.btn_wrapp_2 .transparent_pill {
    min-width: 234px;
}

.blog_thumb {
    height: 360px;
    width: 260px;
}

.blog_thumb .img_box {
    height: 387px;
}

.blog_thumb_title {
    padding: 17px 15px 17px 15px;
}

.blog_thumb_title h3 {
    font-size: 18px;
    line-height: 130%;
}

.blog_thumb_footer {
    padding: 13px 17px 12px 17px;
}

.white_tag {
    padding: 3px 9px;
    min-width: 79px;
    min-height: 32px;
}

.white_tag p {
    font-size: 14px;
    line-height: 17px;
}

.white_circle {
    width: 32px;
    height: 32px;
}

.blog_thumb.shape:after {
    width: 114%;
    height: 106%;
    left: -19px;
}

/*-- /Section 10 - Main Page --*/

/*-- Section 11 - Main Page --*/

.callback_box {
    border-radius: 20px;
    margin: 77px 0 0 0;
    padding: 42px 20px 70px 20px;
}

.callback_box .h2_wrapp_center.big h2 {
    font-size: 32px;
}

.yellow_shape_5 {
    margin-top: -2px;
    font-size: 40px;
    line-height: 100%;
}

.yellow_shape_5:after {
    width: 242px;
    height: 5px;
    bottom: 3px;
    left: 0;
}

.callback_two_cols > div:nth-child(1) {
    width: 43%;
}

.callback_two_cols > div:nth-child(2) {
    width: 57%;
}

.callback_form:before {
    display: none;
}

/*-- /Section 11 - Main Page --*/

/*-- Section 1 - Prices --*/

.price_white_box_title {
    border-radius: 20px;
}

.yellow_shape_8 {
    font-size: 48px;
    background-position: center 80%;
    background-image: url(img/yellow_shape_8_resp.svg);
}

.guaranitie {
    width: calc(100% - 32px);
    max-width: 330px;
    min-height: 56px;
    padding: 5px 12px;
    border-radius: 12px;
    bottom: 17px;
    left: 16px;
}

/*-- /Section 1 - Prices --*/

/*-- Section 1 - Services --*/

.breadcrumbs {
    padding: 23px 0 0 0;
}

.h1_wrapp_2 h1 {
    font-size: 32px;
    line-height: 120%;
}

.thumbs_3_2 {
    padding: 70px 0 65px 0;
}

/*-- /Section 1 - Services --*/

/*-- Section 2 - Service Article --*/

.yellow_shape_9 {
    padding: 0 14px 0 6px;
    font-size: 48px;
}

.price_white_box_title {
    padding: 10px 15px 167px 15px;
}

.service_white_box_title .h1_wrapp_2_descript {
    display: block;
    max-width: 217px;
    margin: 0 auto;
    padding: 23px 0 10px 0;
}

.btn_wrapp_4 {
    padding: 12px 0 43px 0;
}

/*-- /Section 2 - Service Article --*/

/*-- Popup --*/

.popup_content_3 .callback_form:before {
    display: none;
}

/*-- /Popup --*/

}

@media only screen and (max-width: 768px) {

h1 {
    font-size: 24px;
    line-height: 27px;
}

.novisible_768 {
    display: none;
}

.visible_768 {
    display: block;
}

/*-- Section 1 - Main Page --*/

.h1_wrapp h1 span {
    font-size: 38px;
}

.promo_slider_wrapp {
    height: 400px;
}

.promo_slide {
    height: 400px;
}

.blue_promo {
    min-height: 400px;
}

.blue_promo_footer .blue_pill {
    min-width: 160px;
    min-height: 40px;
    border-radius: 12px;
    font-size: 12px;
    line-height: 18px;
}

.blue_promo_two_cols > div:nth-child(1) {
    width: 80px;
    padding: 22px 10px 10px 10px;
}

.blue_promo_two_cols > div:nth-child(2) {
    width: calc(100% - 80px);
    position: relative;
    padding: 18px 0 10px 15px;
}

.blue_link {
    font-size: 14px;
    line-height: 18px;
}

.promo_slider .slick-prev {
    left: 10px;
}

.promo_slider .slick-next {
    right: 10px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 5 - Main Page --*/

.contacts_form_title p {
    padding: 3px 0 6px 0;
    font-size: 12px;
    line-height: 18px;
}

.form_two_cols {
    padding: 33px 0 19px 0;
}

.form_two_cols > div:nth-child(1) {
    width: 100%;
    padding: 2px 0 2px 0;
}

.form_two_cols > div:nth-child(2) {
    width: 100%;
    padding: 88px 0 2px 0;
}

.ch {
    font-size: 12px;
    line-height: 18px;
}

.ch a {
    font-size: 12px;
    line-height: 18px;
}

/*-- /Section 5 - Main Page --*/

/*-- Section 6 - Main Page --*/

.h2_wrapp.big_2 h2 {
    font-size: 24px;
    line-height: 120%;
}

.ba_slider_templ {
    flex-wrap: wrap;
    padding: 22px 0 39px 0;
}

.ba_slider_templ > div:nth-child(1) {
    width: 100%;
    height: 100%;
    padding: 2px 0;
}

.ba_slider_templ > div:nth-child(2) {
    width: 100%;
    padding: 2px 0;
}

.slider_2_wrapp {
    margin: 44px 0 38px 0;
    padding: 40px 18px 16px 18px;
    border-radius: 20px;
}

.ba_slider_wrapp {
    height: 280px;
}

.beforeAfter_wrapp {
    height: 280px;
    border-radius: 20px;
}

.beforeAfter {
    height: 280px;
}

.slider_2_slide_descript {
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 10px 0 30px 0;
}

.slider_2_slide_descript h3 {
    padding: 8px 0 7px 0;
    font-size: 18px;
    line-height: 120%;
}

.slider_2_slide_descript p {
    padding: 2px 0;
    font-size: 16px;
    line-height: 130%;
}

.slider_2 .slick-dots {
    bottom: -41px;
    width: 100%;
    justify-content: center;
}

.slider_2 .slick-prev {
    width: 38px;
    height: 38px;
    bottom: -41px;
    left: 0;
}

.slider_2 .slick-next {
    width: 38px;
    height: 38px;
    bottom: -41px;
    left: auto;
    right: 0;
}

.slider_2  .slick-dots li button {
    width: 6px;
    height: 6px;
}

.b_wrapp {
    width: 80px;
    height: 34px;
    bottom: 16px;
    left: 16px;
}

.b_wrapp p {
    font-size: 14px;
    line-height: 19px;
}

.a_wrapp {
    width: 80px;
    height: 34px;
    bottom: 16px;
    right: 16px;
}

.a_wrapp p {
    font-size: 14px;
    line-height: 19px;
}

/*-- /Section 6 - Main Page --*/

/*-- Section 7 - Main Page --*/

.sect_7_mp {
    padding: 10px 0 50px 0;
}

.h2_wrapp_center br {
    display: none;
}

.slider_3 {
    margin: 0 -2px;
    padding: 14px 0 19px 0;
}

.slider_3 .slick-prev {
    width: 36px;
    height: 36px;
    background-image: url(img/left_blue_arrow.svg);
    bottom: 50%;
    left: 15px;
    opacity: .65 !important;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slider_3 .slick-next {
    width: 36px;
    height: 36px;
    background-image: url(img/right_blue_arrow.svg);
    bottom: 50%;
    left: auto;
    right: 15px;
    opacity: .65 !important;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slider_3 .slick-prev:hover {
    opacity: 1 !important;
}
.slider_3 .slick-next:hover {
    opacity: 1 !important;
}

/*-- /Section 7 - Main Page --*/

/*-- Section 8 - Main Page --*/

.sect_8_mp {
    padding: 16px 0 30px 0;
}

.revs_sect {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.revs_sect > div:nth-child(1) {
    order: 2;
}

.revs_sect > div:nth-child(2) {
    order: 1;
}

.rev_box {
    border-radius: 20px;
    margin: 0;
    padding: 2px 15px 88px 15px;
}

.rev_site_thumb {
    display: block;
    width: 186px;
    margin: 2px;
    border-radius: 20px;
    padding: 8px 10px 10px 10px;
}

.yellow_shape_3 {
    margin: -3px -8px -12px 0;
    width: 144px;
    height: 48px;
    font-size: 38px;
}

.rev_box:after {
    display: none;
}

.rev {
    margin: 3px 3px;
    width: 321px;
    padding: 24px;
    min-height: 446px;
    background: #F7F7F7;
    border-radius: 12px;
}

.rev_text p {
    font-size: 14px;
    line-height: 130%;
}

.rev_slider .slick-dots {
    bottom: -68px;
    left: 0;
    justify-content: center;
    width: 100%;
}

.rev_slider .slick-prev {
    width: 36px;
    height: 36px;
    bottom: -72px;
    right: auto;
    left: 12px;
}

.rev_slider .slick-next {
    width: 36px;
    height: 36px;
    bottom: -72px;
    right: 12px;
}

.rev_slider:after {
    display: none;
}

.rev_text {
    min-height: 357px;
}

.rev_img_box {
    width: 40px;
    height: 40px;
}

.rev_author > div:nth-child(1) {
    width: 47px;
}

.rev_author > div:nth-child(2) {
    width: calc(100% - 47px);
    padding: 5px 0 0 10px;
}

.rev_author p {
    font-size: 18px;
    line-height: 27px;
}

.btn_wrapp_3 {
    padding: 39px 0 20px 0;
}

/*-- /Section 8 - Main Page --*/

/*-- Section 10 - Main Page --*/

.sect_10_mp {
    padding: 32px 0 20px 0;
}

.blog_slider {
    padding: 25px 0 49px 0;
}

.blog_slider .slick-prev {
    width: 36px;
    height: 36px;
    background-image: url(img/left_blue_arrow.svg);
    bottom: 50%;
    left: 20px;
    opacity: .65 !important;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.blog_slider .slick-next {
    width: 36px;
    height: 36px;
    background-image: url(img/right_blue_arrow.svg);
    bottom: 50%;
    left: auto;
    right: 20px;
    opacity: .65 !important;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.blog_slider .slick-prev:hover {
    opacity: 1 !important;
}
.blog_slider .slick-next:hover {
    opacity: 1 !important;
}

.btn_wrapp_2 {
    padding: 30px 0 13px 0;
}

/*-- /Section 10 - Main Page --*/

/*-- Section 12 - Main Page --*/

.slide_4 {
    border-radius: 20px;
}

.map_wrapp {
    height: 416px;
    border-radius: 20px;
}

.map_wrapp h3 {
    top: 25px;
    left: 0;
    padding-left: 25px;
    font-size: 24px;
    line-height: 31px;
}

.two_cols_3 {
    padding-bottom: 12px;
}

.two_cols_3 > div:nth-child(1) {
    width: 100%;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #F0F0F0;
}

.two_cols_3 > div:nth-child(2) {
    width: 100%;
    padding: 24px 0 5px 0;
}

.contacts_white_box {
    border-radius: 20px;
    padding: 19px 25px 20px 25px;
}

.contacts_white_box .active_time {
    margin-left: 0;
    padding-bottom: 6px;
}

.two_cols_3 h2 {
    padding-bottom: 18px;
    font-size: 24px;
    line-height: 130%;
}

.contacts_thumb {
    padding-bottom: 13px;
}

.contacts_thumb h3 {
    font-size: 16px;
    line-height: 19px;
}

.contacts_thumb p {
    padding-bottom: 14px;
}

.time_text p {
    font-size: 16px;
    line-height: 140%;
}

/*-- /Section 12 - Main Page --*/

/*-- Section 2 - Prices --*/

.prices_templ {
    margin-bottom: 77px
}

.prices_templ > .left {
    display: none;
}

.prices_templ > .right {
    width: 100%;
    padding: 0;
}

.prices_templ_header > .left {
    width: calc(100% - 132px);
}

.prices_templ_header > .right {
    width: 132px;
}

.cell_1 {
    margin: 0 2px 0 0;
    padding: 13px 20px;
    height: 48px;
    border-radius: 16px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .11);
}

.cell_2 {
    display: none;
}

.cell_3 {
    width: 132px;
    margin: 0;
    padding: 13px 20px;
    height: 48px;
    border-radius: 16px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .11);
}

.prices_table_box {
    padding: 20px 20px 6px 20px;
}

.prices_tables {
    padding: 0 0 10px 0;
}

.prices_tables_title {
    padding: 19px 17px 8px 17px;
}

.prices_table .table_row p {
    font-size: 14px;
    line-height: 19px;
}

.prices_table .table_row p a {
    font-size: 14px;
    line-height: 19px;
}

.fixed_sidebar_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    width: calc(100% - 32px);
    height: 48px;
    position: fixed;
    bottom: 34px;
    left: 50%;
    transform: translate(-50%, 0);
    background: rgba(16, 35, 72, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    z-index: 10;
    cursor: pointer;
    font-size: 14px;
    line-height: 130%;
    color: #FFF;
}

.fixed_sidebar_btn:after {
    display: block;
    width: 20px;
    height: 20px;
    content: "";
    background-image: url(img/white_arrow_down.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 10px);
    right: 15px;
    transform: rotate(0);
    -webkit-transition-property: transform;
    -webkit-transition-duration: .6s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: .6s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: .6s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: .6s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: .6s;
    transition-timing-function: ease;
}

#sidebarBtn.active:after {
    transform: rotate(-180deg);
}

#sidebarWrapp {
    display: block;
    position: fixed;
    bottom: -200%;
    left: 0;
    width: 100%;
    max-height: 100vh;
    background: linear-gradient(0deg, #5C5C5C, #5C5C5C), rgba(153, 153, 153, 0.97);
    background-blend-mode: color-dodge, normal;
    box-shadow: 0 0 100px rgba(0, 0, 0, .05);
    backdrop-filter: blur(25px);
    border-radius: 16px 16px 0 0;
    padding: 35px 0 100px 0;
    z-index: 8;
    -webkit-transition-property: bottom;
    -webkit-transition-duration: .6s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: bottom;
    -moz-transition-duration: .6s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: bottom;
    -ms-transition-duration: .6s;
    -ms-transition-timing-function: ease;

    -o-transition-property: bottom;
    -o-transition-duration: .6s;
    -o-transition-timing-function: ease;

    transition-property: bottom;
    transition-duration: .6s;
    transition-timing-function: ease;
}

#sidebarWrapp:before {
    display: block;
    content: "";
    position: absolute;
    width: 36px;
    height: 5px;
    left: calc(50% - 18px);
    top: 6px;
    background: linear-gradient(0deg, rgba(61, 61, 61, 0.5), rgba(61, 61, 61, 0.5)), rgba(127, 127, 127, 0.4);
    background-blend-mode: overlay, luminosity;
    border-radius: 2.5px;
}

#sidebarWrapp:after {
    display: block;
    content: "";
    width: 134px;
    height: 5px;
    position: absolute;
    left: calc(50% - 134px/2 + 0.5px);
    bottom: 8px;
    background: #000;
    border-radius: 3px;
}

.prices_nav_box {
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 0 8px;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}

.prices_nav li a {
    border-radius: 8px;
    padding: 9px 15px;
    font-size: 18px;
    line-height: 22px;
}

.sidebarWrappBg {
    display: block;
    background: rgba(0, 0, 0, .4);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 200%;
    left: 0;
    z-index: 7;
    opacity: 0;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .6s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .6s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .6s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .6s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .6s;
    transition-timing-function: ease;
}

#priceTemplResp.active #sidebarWrapp {
    bottom: 0;
}

#priceTemplResp.active .sidebarWrappBg {
    top: 0;
    opacity: 1;
}

#sidebarBtn {
    display: block;
}

/*-- /Section 2 - Prices --*/

/*-- Section 2 - Service Article --*/
.service_templ_header > div:nth-child(1) {
    width: 51px;
}

.service_templ_header > div:nth-child(2) {
    width: calc(100% - 51px);
}

.service_templ_content > .left {
    display: none;
}

.service_templ_content > .right {
    width: 100%;
}

.siderbarBtn2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    width: 48px;
    height: 48px;
    background: #FFF;
    box-shadow: 0 0 6px rgba(0, 0, 0, .11);
    border-radius: 16px;
    border: none;
}

.service_templ_content {
    padding: 15px 0 0 0;
}

.jobs_slider_wrapp {
    padding: 16px 20px 99px 20px;
}

.jobs_slider .slick-prev {
    display: block;
    width: 36px;
    height: 36px;
    left: 0;
    bottom: -85px;
    z-index: 3;
}

.jobs_slider .slick-next {
    display: block;
    width: 36px;
    height: 36px;
    left: auto;
    right: 0;
    bottom: -85px;
    z-index: 3;
}

.jobs_slider .slick-dots {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: -80px;
    left: 0;
    z-index: 2;
}

.jobs_slider .job_slide {
    width: 320px;
}

.service_jobs {
    margin-bottom: 8px;
}

.service_doctors_slider .slider_3 .slick-prev {
    bottom: auto;
    top: 47%;
    left: 20px;
}

.service_doctors_slider .slider_3 .slick-next {
    bottom: auto;
    top: 47%;
    left: auto;
    right: 20px;
}

.sect_2_service {
    padding: 1px 0 50px 0;
}

.close_sdebar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 48px;
    height: 48px;
    background: #FFF;
    box-shadow: 0 0 6px rgba(0, 0, 0, .11);
    border-radius: 16px;
    border: none;
    position: fixed;
    top: -200vh;
    left: 8px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition-property: top;
    -webkit-transition-duration: .6s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: top;
    -moz-transition-duration: .6s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: top;
    -ms-transition-duration: .6s;
    -ms-transition-timing-function: ease;

    -o-transition-property: top;
    -o-transition-duration: .6s;
    -o-transition-timing-function: ease;

    transition-property: top;
    transition-duration: .6s;
    transition-timing-function: ease;
}

#priceTemplResp.active .close_sdebar {
    top: 66px;
}

.service_article {
    padding: 19px 20px 27px 20px;
}

.service_prices .prices_table_box {
    padding: 7px 20px 4px 20px;
}

/*-- /Section 2 - Service Article --*/

/*-- Footer --*/

.footer_section {
    padding-top: 0;
}

.footer_two_cols > div:nth-child(2) {
    width: 100%;
    padding: 0;
}

.footer_two_cols_2 > div:nth-child(1) {
    width: 140px;
    padding-right: 5px;
}

.footer_two_cols_2 > div:nth-child(2) {
    width: calc(100% - 140px);
    padding-left: 5px;
}

.footer_two_cols h2 {
    padding-top: 0;
    font-size: 24px;
    line-height: 31px;
}

.footer_box {
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
}

.footer_nav li {
    padding: 3px 0;
}

.footer_nav li a {
    font-size: 16px;
    line-height: 120%;
}

.contacts_thumb_2 {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0 2px 0;
}

.contacts_thumb_2 > div:nth-child(1) {
    width: 100%;
    padding-bottom: 10px;
}

.contacts_thumb_2 > div:nth-child(2) {
    width: 100%;
}

.contacts_thumb_2 ul li {
    padding-bottom: 12px;
}

.contacts_thumb_2 h3 {
    font-size: 16px;
    line-height: 21px;
}

.contacts_thumb_2 p {
    font-size: 16px;
    line-height: 25px;
}

.contacts_thumb_2 ul li, .contacts_thumb_2 ul li a {
    font-size: 16px;
    line-height: 25px;
}

.soc_list {
    margin: 4px -4px 0 -4px;
    justify-content: flex-start;
}

/*-- /Footer --*/

/*-- Popup --*/

.popup {
    padding: 0;
    font-size: 0;
    line-height: 0;
}

.popup_content {
    display: inline-block;
    vertical-align: bottom;
    width: calc(100% - 1px);
    margin: 80px 0 0 0;
}

.popup:before {
    display: inline-block;
    vertical-align: bottom;
    content: "";
    width: 0;
    height: 100vh;
}

.popup_content .close {
    position: absolute;
    top: -80px;
    right: 8px;
}

.popup_content_3 .callback_box {
    margin: 0;
    padding: 24px 20px 8px 20px;
    border-radius: 20px 20px 0 0;
}

.popup_content .callback_two_cols > div:nth-child(2) {
    width: 100%;
    order: 1;
    padding: 5px 0;
}

.popup_content .callback_two_cols > div:nth-child(1) {
    width: 100%;
    order: 2;
    padding: 22px 0 0 0;
}

/*-- /Popup --*/

}

@media only screen and (max-width: 700px) {

/*-- Section 2 - Main Page --*/

.two_cols {
    padding: 54px 0 60px 0;
}

.two_cols > div:nth-child(1) {
    width: 100%;
}

.two_cols > div:nth-child(2) {
    width: 370px;
    margin: 0 auto;
    padding-left: 0;
    padding-top: 72px;
}

.two_cols .h2_wrapp {
    text-align: center;
    max-width: 100%;
}

.h2_wrapp h3 {
    padding: 2px 0;
    font-size: 12px;
    line-height: 17px;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.two_cols_2 {
    padding: 36px 0 40px 0;
}

.two_cols_2 > div:nth-child(1) {
    display: block;
    width: 100%;
    padding: 2px 0;
}

.two_cols_2 > div:nth-child(2) {
    display: block;
    width: 100%;
    padding: 2px 0;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 4 - Main Page --*/

.thumb_3 {
    padding: 10px 10px 10px 10px;
    min-height: 262px;
    border-radius: 20px;
}

.thumb_3_descript {
    min-height: 120px;
}

.thumb_3_descript h3 {
    padding: 3px 0 5px 0;
    font-size: 18px;
    line-height: 23px;
}

.thumb_3_descript p {
    padding: 5px 0 2px 0;
    font-size: 11px;
    line-height: 130%;
}

.thumb_3_descript .blue_link {
    padding: 0 12px 0 0;
    font-size: 11px;
    line-height: 20px;
}

.thumb_3:hover .thumb_3_icon {
    top: -15px;
}

.thumb_3_icon {
    height: 96px;
    width: 96px;
}

.thumb_3_icon img {
    max-width: 45px;
    max-height: 45px;
}

.tr_pill_wrapp {
    padding: 9px 0;
}

.tr_pill_wrapp .transparent_pill_3 {
    min-width: 120px;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 11 - Main Page --*/

.callback_two_cols {
    padding: 20px 0 20px 0;
}

.callback_two_cols > div:nth-child(1) {
    width: 100%;
    order: 2;
    padding: 45px 0 0 0;
}

.callback_two_cols > div:nth-child(2) {
    width: 100%;
    order: 1;
    padding: 5px 0;
}

.callback_box {
    margin: 0;
    padding: 31px 20px 10px 20px;
}

.time_thumb_title {
    text-align: left;
    padding-left: 17px;
}

.time_thumb_title h3 {
    font-size: 16px;
    line-height: 20px;
}

.time_thumb {
    max-width: 480px;
}

.submit_wrapp .blue_pill {
    min-height: 64px;
}

/*-- /Section 11 - Main Page --*/

}

@media only screen and (max-width: 600px) {
/*-- Header --*/
.row {
    padding: 0 8px;
}
/*-- /Header --*/

/*-- Section 1 - Main Page --*/

.promo_templ > .left {
    width: 100%;
    padding: 0;
    order: 2;
    margin-top: -245px;
}

.promo_templ > .right {
    width: 100%;
    padding: 0;
    order: 1;
}

.promo_slider_wrapp {
    height: 570px;
}

.promo_slide {
    height: 570px;
}

.promo_slide img {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: auto;
}

.blue_promo {
    height: auto;
    min-height: 408px;
    background: rgba(255, 255, 255, .6);
    backdrop-filter: blur(23px);
    border-radius: 20px;
    padding: 24px 15px 6px 15px;
}

.blue_promo_footer {
    padding: 10px 0 9px 0;
    text-align: center;
}

.blue_promo_two_cols > div:nth-child(1) {
    width: 66px;
    padding: 22px 10px 10px 10px;
}

.blue_promo_two_cols > div:nth-child(2) {
    width: calc(100% - 66px);
    padding: 18px 0 10px 20px;
}

.blue_promo_two_cols > div:nth-child(1) img {
    width: 40px;
    height: auto;
}

.h1_wrapp {
    text-align: center;
}

.promo_dots {
    display: block;
    padding-bottom: 10px;
}

.promo_dots .slick-dots {
    width: 100%;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
}

.slick-dots li button {
    width: 6px;
    height: 6px;
}

.time_p {
    margin: 6px 0 0 0;
    padding-left: 7px;
    font-size: 12px;
    line-height: 18px;
}

.tume_circle {
    width: 8px;
    height: 8px;
}

.blue_link {
    font-size: 16px;
    line-height: 18px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 1 - Prices --*/

.guaranitie {
    width: calc(100% - 32px);
    max-width:calc(100% - 32px);
}

.guaranitie > div:nth-child(1) {
    width: 42px;
}

.guaranitie > div:nth-child(2) {
    width: calc(100% - 42px);
}

.guaranitie .icon_box {
    width: 32px;
    height: 32px;
}

.guaranitie .icon_box img {
    max-width: 78%;
}

.guaranitie p {
    font-size: 14px;
    line-height: 18px;
}

.prices_shape {;
    right: auto;
    left: 46%;
    transform: translate(-50%, 0);
}

/*-- /Section 1 - Prices --*/

/*-- Section 1 - Service Article --*/

.service_shape_1 {
    display: none;
}

.service_shape_2 {
    right: auto;
    left: 50%;
    transform: translate(-50%, 0);
}

/*-- /Section 1 - Service Article --*/

/*-- Footer --*/

.footer_two_cols_3 {
    padding: 7px 0 6px 0;
}

.footer_two_cols_3 p {
    font-size: 14px;
    line-height: 17px;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 400px) {

/*-- Section 4 - Main Page --*/

.thumbs_3 {
    padding: 24px 0 39px 0;
}

.h2_wrapp_center.big h2  br {
    display: none; 
}

.thumb_3_descript h3 {
    word-wrap: break-word;
}

/*-- /Section 4 - Main Page --*/

}

@media only screen and (max-width: 365px) {

/*-- Footer --*/

.form_2 {
    flex-wrap: wrap;
    padding-top: 10px;
}

.form_2 > div:nth-child(1) {
    width: 100%;
    padding: 4px 0 2px 0;
}

.form_2 > div:nth-child(2) {
    width: 100%;
    padding: 2px 0 4px 0;
}

.footer_two_cols_2 > div:nth-child(1) {
    width: 110px;
}

.footer_two_cols_2 > div:nth-child(2) {
    width: calc(100% - 110px);
}

.contacts_thumb_2 p {
    font-size: 13px;
    line-height: 25px;
}

.contacts_thumb_2 ul li, .contacts_thumb_2 ul li a {
    font-size: 13px;
    line-height: 25px;
}

.resp_two_cols {
    flex-wrap: wrap;
}

.resp_two_cols > div {
    width: 100%;
    padding: 4px;
}

/*-- /Footer --*/

}

@media only screen and (min-width: 901px) {

#resp_nav {
    display: block !important;
}

.resp_nav li > .sub_menu {
    display: block !important;
}

.res_bg {
    display: none !important;
}

.closeNav {
    display: none !important;
}

}
